<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/loginStyle.css">
    <title>Login</title>
</head>

<body>
    <div class="loginForm">
        <form action="/authentication/login" method="POST">
            <img src="https://png.pngtree.com/svg/20170502/6b7e95cf9c.svg" style="width:100px;height:90px;">
            <div class="form-group">
                <input type="text" class="form-control" id="usernameInput" name="username" aria-describedby="emailHelp"
                    placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="passwordInput" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-secondary btn-lg btn-block">Sign in</button>
        </form>
    </div>
    <footer>
        <p>2019-2019 TechStore - Sistemas de Informação Organizacionais</p>
    </footer>
</body>
</html>